*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

header .logo{
    display: block;
    height: 100px;
}
nav{
    background-color: #ebebeb;
    overflow: hidden;
}
nav a{
    color:#2b2b2b;
    padding: 18px 15px;
    display: block;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
}
nav a.last{
    background-color: #747474;
    float: right;
    display: block;
}
nav a:hover{
    background-color: #747474;
}
.last:hover{
    color: aqua;
}
.container{
    width: 80%;
}
#banner{
    background-color: blanchedalmond;
    padding: 30px 0;
}
#banner .container{
    display: flex;
}
#banner img{
    height: 300px;
    width: 40%;
}
.info{
    padding: 40px;
}
.info h1{
    color: black;
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.info h1 span{
    display: inline-block;
    padding: 5px;
    border-bottom: 1px solid black;
    font-size: 20px;
    color: red;
}
.info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px 0;
    color: blue;
}
.info a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.info a:hover{
    color: yellow;
    background-color: white;
}
#feature{
    margin: 30px 0;
}
#feature .container{
    display: flex;
}
#feature .box{
    width: 24%;
    position: relative;
}
.box img{
    width: 100%;
    height: 350px;
    display: block;
}
.box .info1{
    background-color: black;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.info1 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    padding: 0 10px;
    display: block;
   
}
.info a{
    color: white;
    text-decoration: none;
}
.info a:hover{
    color: bisque;
}
.newsletter{
    background-color: black;
    margin-bottom: 30px;
}
.newsletter form{
    display: block;
    text-align: center;
    padding: 30px 0;
}
.newsletter h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: aliceblue;
    padding-bottom: 20px;
}
.newsletter input{
    padding: 15px;
    width: 400px;
}
.newsletter input[type=submit]{
    width: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #747474;
    color: white;
}
.icons{
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
.icons a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 30px;
}
footer{
    background-color: white;
    margin: 30px 0;
}
footer .container{
    display: flex;
}
footer h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
footer ul{
    list-style: none;
    margin-top: 5px;
}
footer ul li{
    pad: 5px 0;
}
footer ul li a{
    color:#2b2b2b;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
    
}